

body, html {
    height: 100%;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-mantine-color-scheme='dark'] {
    --mantine-color-body: black;
}

input {
    &[type='checkbox'] {
        border: 1px solid #97FF7C;
        background: transparent;
        &[data-variant='thick'] {
            border: 2px solid #97FF7C;
        }
    }
}

button {
    &[data-variant='primary'] {
        background-image: linear-gradient(90deg, #00FFBA 0%, #E8FF59 100%);
        color: #000000;
        letter-spacing: -0.05em;
        font-weight: 700;
        border-radius: 64px;
        font-size: 18px;
    }
}



